
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    background-color: black;
}
nav .container{
    padding: 30px 0px; 
    text-align: center;
}
nav img{
   justify-content: center;
   align-content: center;
}
.hero {
    background-color: gray;
    height: 500px;
}
.hero .container{
   margin: 0 auto;
   padding: 10px;
   height: 1000px;
  
}form{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
     width: 800px; 
    
}
form .firstinput{
  width: 88%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  height: 54px;
  gap: 10px;
  color: white;
border: 1px solid #0D0D0D;
background: #262626;
padding-left: 30px;
}
form  .btn{
width: 10%;
height: 54px;
border-radius: 8px;
font-size: 16px;
font-weight: 700;
background-color: #1E6F9F;
color: #F2F2F2;
cursor: pointer;
}
ol{
    width: 800px;
    height: 420px;
    margin: 10px auto;
    border-radius:10px;   
    overflow-y: auto;   
}
 ol .row {
    text-align: start;
    padding: 0px 10px;
    background-color: #262626;
    border: 1px solid #333333;
    box-shadow: 0px 2px 8px 0px #0000000F;  
    display: flex;
    width: 100%;
    height: 72px;
    margin-bottom: 10px;
    align-items: center;
   justify-content: space-between;
}
ol .row .lastinput{
   width: 24px;
   height: 24px;
  color: #4EA8DE;
}
ol .row li{
    font-size: 14px;
    width: 70%;
    font-weight: 400;
    color: #F2F2F2;
    line-height: 140%;
}
ol .row .secondbutton{
    width: 7%;
    height: 30px;
  border-radius: 7px;
  background-color: #1E6F9F;
  border: none;
  cursor: pointer;
}